/* .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 8px slategray;
    padding: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  } */