.topic-img{
    /* background-color: slategrey; */
    object-fit: cover;
}
.img-background{
    border-radius: 5px;
    /* display: grid;
    grid-template-columns: repeat(1fr 1fr); */
    /* box-shadow: 2px 2px 8px slategray; */
    
    height: 400px;
    width: 100%;
    gap: 20px;
}
.btn-quiz{
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 5px;
    margin: 10px;
}
/* hover:bg-yellow-300 */
.btn-quiz:hover{
    background-color: yellow;
    color: black;
}