/* .topic-img{
    object-fit: cover;
}
.img-background{
    border-radius: 5px;
    height: 400px;
    width: 100%;
    gap: 20px;
}
.btn-quiz{
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 5px;
    margin: 10px;
}

.btn-quiz:hover{
    background-color: rgb(232, 232, 18);
    color: black;
} */