.nav-link-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding: 20px;
    box-shadow:  2px 2px 15px slategray;
}
.nav-link-container a{
    text-decoration: none;
    margin-right: 10px;
    color:  rgb(34 211 238);
    margin-right: 10px;
    padding: 2px 5px;
    font-size: 20px;
    font-weight: 700;
}
.nav-link-container a:hover{
    color: white;
    background-color: slategray;
    border-radius: 5px;
    padding: 7px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.active{
    border-radius: 5px;
    padding: 20px;
    background-color: slategray;
}